body {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}

div#taskbar {
    bottom: 0;
    height: fit-content;
    min-height: 50px;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(5px);
}

div#taskbar[theme="dark"] {
    background-color: rgba(0, 0, 0, 0.25);
}

div#taskbar[theme="light"] {
    background-color: rgba(255, 255, 255, 0.25);
}

div#desktop{
    width: 100%;
    height: 100%;
}

div#taskbar[theme="dark"]>div#desktop {
    background: url(/images/desktop/backgrounds/background-dark.png);
}

div#taskbar[theme="light"]>div#desktop {
    background: url(/images/desktop/backgrounds/background-light.png);
}