body {
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
}

div#taskbar {
    bottom: 0;
    height: fit-content;
    min-height: 50px;
    width: calc(100% - 40px);
    position: absolute;
    backdrop-filter: blur(5px);
    padding: 10 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div#desktop[theme="dark"] {
    --MainThemeColor: "255, 255, 255";
    --SecondaryThemeColor: "0, 0, 0";
}

div#desktop[theme="light"] {
    --SecondaryThemeColor: "255, 255, 255";
    --MainThemeColor: "0, 0, 0";
}

div#desktop>div#taskbar {
    background-color: rgba(var(--SecondaryThemeColor), 0.25);
    color: var(--MainThemeColor);
}

div#desktop {
    width: 100%;
    height: 100%;
    background-position: center;
}

div#desktop[theme="dark"] {
    background: url(/images/desktop/backgrounds/background-dark.png);
}

div#desktop[theme="light"] {
    background: url(/images/desktop/backgrounds/background-light.png);
}

div#timeanddate {
    width: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--SecondaryThemeColor);
    padding: 5px;
    border-radius: 10px;
}